<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand text-center branding" href="#"> <span><i style="font-size:32px" class="fa shadow">&#xf290;</i></span> CarryBag</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#home">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <app-corousel></app-corousel>
  <br>
  <div class="container-fluid m-5 homeBody" id="home">
    <div class="content">
      <div class="textBox">
				<h2>Enrich your Shopping list <br> wisely at<span> CarryBag</span></h2>
				<p>Our mission is to be the customer-centric online store. We focus on customer satisfaction rather than competition</p>
				<a href="#">Shop Now!</a>
			</div>
      <div class="imgBox">
					<img src="../assets/onlineshopping.jpg" class="onlineshopping">
			</div>
    </div>
  </div>
  <div class="container-fluid" id="about">
    hello
  </div>